
    <h1>editeaza</h1>
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                   </button>
                </div>
                <div class="modal-body">
                
                   <form #editForm="ngForm">
                      <div class="form-group">
                         <label for="name">Name</label>
                         <input type="text" value="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                      </div>
                      <input type="hidden" value="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                      <input type="hidden" value="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
                      <div class="form-group">
                         <label for="email">Email Address</label>
                         <input type="email" value="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                         <label for="phone">Job title</label>
                         <input type="text" value="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                      </div>
                      <div class="form-group">
                         <label for="phone">Phone</label>
                         <input type="text" value="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                      </div>
                      <div class="form-group">
                         <label for="phone">Image URL</label>
                         <input type="text" value="{{editEmployee?.imageURL}}" name="imageURL" class="form-control" id="imageURL" placeholder="Image URL">
                      </div>
                      <div class="modal-footer">
                         <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                         <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                      </div>
                   </form> 
                </div>
             
          