
    <h1>editeaza</h1>
             <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{currentEmployee.name}}</h5>
                   <a href="/"> X</a>
                </div>
                <div class="modal-body">
                
                  <form [formGroup]="updateForm" (ngSubmit) = "onSubmit()">
    
                     <div class="form-group">
                         <label>Name</label>
                         <input type="text" formControlName="name" class="form-control"
                         [ngClass]="{ 'is-invalid':    formControls.name.errors }" />
                         <div *ngIf="  formControls.name.errors" class="invalid-feedback">
                         <div *ngIf="formControls.name.errors.required">Name is required</div>
                         </div>
                     </div>
                 
                     <div class="form-group">
                         <label>Email</label>
                         <input type="text" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-invalid':  formControls.email.errors }" />
                         <div *ngIf="formControls.email.errors" class="invalid-feedback">
                         <div *ngIf="formControls.email.errors.required">Email is required</div>
                         <div *ngIf="formControls.email.errors.email">Must be a valid email address!</div>
                         </div>
                         </div>
                 
                         <div class="form-group">
                             <label>JobTitle</label>
                             <input type="text" formControlName="jobTitle" class="form-control"
                             [ngClass]="{ 'is-invalid': formControls.jobTitle.errors }" />
                             <div *ngIf=" formControls.jobTitle.errors" class="invalid-feedback">
                             <div *ngIf="formControls.jobTitle.errors.required">jobTitle is required</div>
                             </div>
                             </div>
             
                     <div class="form-group">
                         <label>Phone</label>
                         <input type="text" formControlName="phone" class="form-control"
                         [ngClass]="{ 'is-invalid': formControls.phone.errors }" />
                         <div *ngIf="formControls.phone.errors" class="invalid-feedback">
                         <div *ngIf="formControls.phone.errors.required">Phone is required</div>
                         <div *ngIf="formControls.phone.errors.pattern">Phone must 10 digits.</div>
                         </div>
                         </div>
                     <div class="form-group">
                        <label>ImageURL</label>
                        <input type="text" formControlName="imageURL" class="form-control"
                        [ngClass]="{ 'is-invalid':  formControls.imageURL.errors }" />
                        <div *ngIf="formControls.imageURL.errors" class="invalid-feedback">
                        <div *ngIf="formControls.imageURL.errors.required">imageURL</div>
   
                        </div>
                     </div>
                     <br>
                     <button class = "btn btn-success" type ="submit" [disabled]="!updateForm.valid">Submit</button><p></p>
             
             
                 
                 </form>
                </div>
             
          